{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accueil/find.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-dark">
        <ul class="navbar-nav">
                    <li class="nav-item" >
                        <a class= "nav-link text-light font-weight-bold text-uppercase px-3" href="#">Accueil</a>
                    </li>
                    <li class="nav-item" >
                        <a class= "nav-link text-light font-weight-bold text-uppercase px-3" href="#"> Emploi</a>
                    </li>
                    <li class="nav-item dropdown" >
                        <a class= "nav-link dropdown-toggle text-light font-weight-bold text-uppercase px-3"href="#" role="button" data-toggle="dropdown" aria-haspopup="true " aria-expanded="false">Mon compte</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">S'inscrire</a>
                            <a class="dropdown-item" href="#">Se connecter</a>
                        </div>   
                    </li>
                    <li class="nav-item" >                                          
                        <a class= "nav-link text-light font-weight-bold text-uppercase px-3" href="#">Acces recruteur</a>
                    </li>
        </ul>  
    </nav>

    

        <!-- <div class="col-lg-6 position-relative d-lg-block bg-image" style="background-image: url('joanna-kosinska-1_CMoFsPfso-unsplash.jpg')">
        </div>           -->
    <section class="container">
        <div class="container mt-4 ms-4">
            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-3 ">
                        <div class="card-body">
                            <h5 class="card-title">{{job.title}}</h5>
                            <p class="card-text">{{job.company}} - {{job.location}}</p>
                            <p class="card-text"> Salaire: {{job.salary_min}}euros a {{job.salary_max}}euros/heure</p>
                            <a href=" url 'job_detail' job.id " class="btn btn-primary">Voir les détails</a>                  
                        </div>
                    </div>
                    <div class="card mb-3 ">
                        <div class="card-body">
                            <h5 class="card-title">{{job.title}}</h5>
                            <p class="card-text">{{job.company}} - {{job.location}}</p>
                            <p class="card-text"> Salaire: {{job.salary_min}}euros a {{job.salary_max}}euros/heure</p>
                            <a href=" url 'job_detail' job.id " class="btn btn-primary">Voir les détails</a>                  
                        </div>
                    </div>
                    <div class="card mb-3 ">
                        <div class="card-body">
                            <h5 class="card-title">{{job.title}}</h5>
                            <p class="card-text">{{job.company}} - {{job.location}}</p>
                            <p class="card-text"> Salaire: {{job.salary_min}}euros a {{job.salary_max}}euros/heure</p>
                            <a href=" url 'job_detail' job.id " class="btn btn-primary">Voir les détails</a>                  
                        </div>
                    </div>
                    <div class="card mb-3 ">
                        <div class="card-body">
                            <h5 class="card-title">{{job.title}}</h5>
                            <p class="card-text">{{job.company}} - {{job.location}}</p>
                            <p class="card-text"> Salaire: {{job.salary_min}}euros a {{job.salary_max}}euros/heure</p>
                            <a href=" url 'job_detail' job.id " class="btn btn-primary">Voir les détails</a>                  
                        </div>
                    </div>
                </div>

                <div class="col-md-8" id="side">
                    <div class="card">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h5 class="card-title">{{ job.title}}</h5>
                                <h6 class="card-substitle mb-2 text-muted">{{ job.company}}</h6>
                                <p class="card-text">
                                    <strong>salaire:</strong>{{job.salaire_min}}$ a {{job.salaire_max}}$ de l'heure <br>
                                    <strong>Type de poste</strong>{{job.job_type}}<br>
                                    <strong>Lieu</strong>{{job.location}}<br>
                                </p>
                                <h6 class="card-substitle mb-2 mt-3">Description du poste</h6>
                                <p class="card-text">{{Job.description}}</p>
                                <a href=" url 'job_detail' job.id " class="btn btn-success">continuer pour postuler</a>
                            </div>
                        </div>
                    </div> 
                </div>   
            </div>
        </div>
    </div>
    </section>
            
        
        

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
            
    
</body>
</html>