/* Styles pour la barre de navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    padding: 12px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #1abc9c;
    border-radius: 30px;
}

/* Mon compte - Menu déroulant */
.account-menu {
    position: relative;
}

.account-button {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.account-button:hover {
    background-color: #16a085;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #2ecc71;
    width: 100%;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #27ae60;
}

.account-menu:hover .dropdown-content {
    display: block;
    opacity: 1;
    animation: dropdown-animation 0.4s ease forwards;
}

/* Animation de menu déroulant */
@keyframes dropdown-animation {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Styles pour la section héro */
.hero {
    background-image: url('fond.jpg'); /* Remplace par une image de fond */
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content form {
    display: inline-block;
    margin-top: 20px;
}

.hero-content input {
    padding: 10px;
    font-size: 18px;
    width: 300px;
    border-radius: 25px;
    border: none;
    margin-right: 10px;
}

.btn-search {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 25px;
    background-color: #1abc9c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-search:hover {
    background-color: #16a085;
}
